@import "./reset";
@import "./variables/colors";
@import "./variables/typography";
@import "./variables/breakpoints";


h1, h2, h3, h4, h5, p {
    z-index:1;
    position:relative;
}


/* ------------- Buttons ----------------------------------------------------------------------------------------------------------- */

button, .button, .wp-block-button__link {
    border-radius:50px;
    padding:16px 30px;
    text-decoration:none;
    cursor: pointer;
    
    svg {
        margin:5px 5px 0 0;
        
    }
}

.wp-block-buttons {
    display:block;
    margin:50px 0;
}


/* ------------- Hero Section ----------------------------------------------------------------------------------------------------------- */

.hero-image {
    background-repeat: no-repeat;
    background-position: top center; 
    background-repeat: no-repeat; 
    background-size: 100vw 100vh cover;

    .wp-block-group.hero {
        max-width:50vw;
        margin:0 calc(100vw - var(--site-width));
        min-height:80vh;

        &:before {
            display:none;
        }

        h1, p {
            color:$white;
            text-shadow: 3px 3px 3px rgba(25, 65, 117, 0.1);
        }

        h1 {        
            margin:0 0 10px 0;
            font-size:calc(var(--x-large-title) * 1.5);
            line-height:120%;
        }

        p {
            font-size:calc(var(--large-p) * 1.3);
            font-weight:200;
            max-width:80%;
        }

    }
    
    .menu {
        
        .menu-item.phone {
            background-image: url(../../images/svg/phoneIconWhite.svg);
        }
    
        .menu-item.email {
            background-image: url(../../images/svg/emailIconWhite.svg);
        }
        
    }
    
}


/* ------------- Menu Section ----------------------------------------------------------------------------------------------------------- */

/* ------------- Main Menu ---------------- */

.menu {
    display:flex;
    justify-content:space-between;

    z-index:2;
    position:relative;
    
    max-width:var(--site-width);
    margin:auto;
    padding:var(--vertical) var(--horizontal);

    .main_navigation {
        font-size:var(--small-subtitle);
        font-weight:600;

        ul {
            display:flex;
            //justify-content:space-between;

            li {
                margin:0 20px;
            }

            a {
                text-decoration:none;                
            }
        }
    }
   
    .menu-item.phone, .menu-item.email {

        font-weight:400;
        font-size:90%;
        margin:3px 0 0 15px;

        @include phone {
            font-weight:600;
            font-size:100%;
            margin:0;
        }

        @include desktop-s {
            display:none;
        }

    }

    .menu-item.phone {
        background: url(../../images/svg/phoneIcon.svg) no-repeat;
        padding-left:32px;
        background-position: left 3px;
    }

    .menu-item.email {
        background: url(../../images/svg/emailIcon.svg) no-repeat;
        padding-left:35px;
        background-size: 25px 19px;
        background-position: left 3px;
    }
    
}

/* ------------- Sub section ---------------- */

.menu-item-has-children {
    z-index:20;

    &:hover {
        ul.sub-menu {
            opacity:1;
            transition-delay: 0s, 0s;
            visibility:visible;
        }  
    }


}

ul.sub-menu {
    opacity:0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 1s, 0s;
    transition-delay: 0s, 1s;
    display:none;

    position:absolute;
    z-index:10;

    background:$white;
    padding:50px 40px 50px 40px;
    
    min-width:90vw;
    min-height:45vh;

    box-shadow: $box-shadow;
    border-radius:5px;
    
    left:0;
    margin-top:30px;

    display:flex;

    li.menu-item.text_ad {
        position:absolute;
        bottom:50px;
        background:$light;
        padding:30px;
        z-index:1000;
        text-transform:uppercase;
        font-weight:800;

        .button {
            margin-left:25px;
            padding:15px 25px;
            text-transform:capitalize;
            font-size:var(--medium-p);
        }
    }

    li.menu-item.image_ad {
        width:350px;
        height:350px;

        a {
            font-size:var(--x-large-title);
            color:$white;

            .link {
                font-size:var(--large-p);
            }
        }

        img {
            &:before {
                background:rgba($dark, .3);
                position:absolute;
                top:0;
                right:0;
                bottom:0;
                left:0;
            }
            
            width:100%;
            height:100%;
        }        
    }

    ul.sub-menu {        
        all: unset;
                 
        &:before {
            display:none;
        }

        margin:0;
        padding:15px 0 0 0;

        li.menu-item {
            margin:10px 0 5px 0;
            padding:0;
            font-weight:300;
        }
    }

    &:before {
        content:'';
        position:absolute;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $white;        
        margin:-50px 0 0 54%;
    }

    li.menu-item {
        margin-right:50px;
        font-size:calc(var(--small-subtitle) * .9);
        font-weight: 600;
        
    }
 
}

@include phone {

    .menu {
        &:after {
            content:'';
            width:100vw;
            height:100vh;
            background:rgba($dark, .5);
            position:absolute;
            z-index:999;
            display:block;
            margin:calc(var(--vertical) * -1) calc(var(--horizontal) * -1);
        }
    }

    .main_menu_wrap {
        width:95vw;
        height:100vh;
        margin:calc(var(--vertical) * -1);

        position:fixed;
        right:0;
        
        background:$white;
        padding:20px;

        z-index:1000;

        

        .main_navigation ul{

            &:before {
                content:'';
                width:400px;
                height:100px;
                background:url(../../images/svg/logo.svg) no-repeat;
            }

            flex-direction: column;
            font-weight: 400;

            .menu-item {
                margin:10px 0;
            }

            

            ul.sub-menu {
                margin:0;
                padding:15px 15px 0 15px;

                position:relative;
                visibility:visible;
                opacity:1;
                background:none;
                
                min-width:auto;
                box-shadow: none;
                border-radius:0;

                li.menu-item {
                    margin:10px 0;
                    font-weight: 400;
                    font-size: var(--small-subtitle);
                }
               
                &:before {
                    content:none;
                }

                li.menu-item:first-child {
                    margin-top:10px;
                }

            }

        }

    }

}

/* ------------- Open / Close Phone ---------------- */

 .open, .close {
    display:none;

    @include phone{
        display:block;
    }
}

@include phone{

    .close {
        position:fixed;
        z-index:1001;
        top:20px;
        right:40px;
        background:none;        
    }

    .open {
        background:$white;
        height:90px;
        border-radius:200px;
        color:$dark;
        font-weight:400;
        font-size:var(--medium-p);

        &:hover {
            background:$light;
        }
    }

    .hidden {

        &:after {
            opacity:0;
            visibility: hidden;
            transition-property: opacity, visibility;
            transition-duration: .5s, 0s;
            transition-delay: 0s, .5s;

        }
        
        .main_menu_wrap {
            transform: translate3d(85vw, 0, 0);
            transition: transform .6s ease-in-out;  
        }

    }

    .visible {

        &:after {
            opacity:1;            
            visibility:visible;
        }
        
        .main_menu_wrap {
            transform: translate3d(0, 0, 0);
            transition: transform .6s ease-in-out;
        }

    }

}



/* ------------- Hero Section ----------------------------------------------------------------------------------------------------------- */

.hero {
    display:flex;
    min-height:70vh;    
    align-items: center;

    z-index:1;
    position:relative;

    max-width:var(--site-width);
    margin:auto;
    padding:var(--vertical) var(--horizontal);

    h1 {
        font-size:var(--x-large-title);
    }

    .text {
        width:40%;
        margin-left:var(--horizontal);

        @include phone {
            width:100%;
            margin-right:0;
        }

        button {
            font-size:1.4rem;
            background-color: $actioncolor;
        }
    }

    .image {
        position:absolute;
        right:10vw;
        top:4vw;
        clip-path: url(#mask);

        img {
            width:854px;
            height:750px;
            object-fit: fill;
        }

        svg {
            path {
                width:50vw;
                height:70vh;
            }            
        }

              

        @include phone {
            display:none;
        }
    }
}




/* ------------- Diensten Slider ----------------------------------------------------------------------------------------------------------- */

.diensten {
    z-index:1;
    position:relative;        
    padding: var(--vertical) var(--horizontal);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        height: 8px; 
        border: 0;

        @include phone {
            height:3px;
        }
    }

    &::-webkit-scrollbar-track {
        border-radius: 0;
        background: $white;
    }
      
    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        background: $color;
    }


    @include desktop {
        max-width:var(--site-width);
        margin:1vw auto;
        
    } 
           
        .dienst_block {
            background:$white;
            padding:50px 30px;
            margin:0 30px 0 0;
            box-shadow: $box-shadow;
            border-radius:5px;            
            min-width:350px;
    
            @include desktop {
                width:25%;
                min-width:auto;

                &:last-child {
                    margin-right:0;
                }

            }

            @include tablet {
                min-width:500px;
            }

            h1 {
                font-size:var(--medium-subtitle);
                margin-bottom:15px; 
            }
    
            h2 {
                font-size:var(--small-subtitle);
                font-weight:600;
                color:$color;
                margin-bottom:10px;
            }

            p {
                font-size:calc(var(--large-p) * .8);

                @include phone {
                    font-size:var(--large-p);
                }
            }

            .button {
                font-size:calc(var(--large-p) * .8);
                padding-right:44px;

                &:after {
                    content:'';
                    background: url(../../images/svg/arrowRightIcon.svg);
                    width:18px;
                    height:15px;
                    position:absolute;
                    margin:4px 8px;
                }

            } 
    
        }    

    

}



/* ------------- Gutenberg Section ----------------------------------------------------------------------------------------------------------- */

.wp-block-group {
    padding:10vh calc((100vw - var(--site-width)) / 2);

    @include phone {
        padding:var(--vertical) var(--horizontal);
    }
    
     
    h2 {
        margin:30px 0 30px 0;
        color:$dark;
        font-size:calc(var(--x-large-subtitle) * 1.1);

        @include phone {
            width:auto;
            font-size:calc(var(--x-large-subtitle) * 0.9);
        }
        
    }

    blockquote.wp-block-quote {
        background:$color;
        color:$dark;
        padding:var(--vertical) var(--horizontal);
        width:75ch;
        margin-bottom:30px;

        @include phone {
            width:auto;
            padding:var(--vertical);
        }
        
        p {
            font-size:var(--medium-subtitle);
            font-weight:800;
            line-height:160%;
            margin-bottom:0;
            text-transform:uppercase;
        }
    }

    .wp-block-group {
        padding:2vh 25vw 0 0;
        margin:0 var(--horizontal) 5vh var(--horizontal);
        display:inline-block;

        @include phone {
            padding:5vh 0 0 0;
            margin:0 0 5vh 0;
        }

        &:before {
            display:none;
        }

        .wp-block-quote {
            margin-left:calc(var(--horizontal) * -1);

            @include phone {
                margin-left:0;
            }
        }
    }
 
    ul, ol {
        padding-bottom:30px;

        li {
            font-size:var(--large-p);
            margin:5px 0;
        }
    }

    ul {
        list-style: none;

        li {

            &:before {
                content: '';
                display: inline-block;
                height: 1em;
                width: 1em;
                margin-right:10px;
                background:url('../../images/svg/checkIcon.svg');
                background-position: left 5px;
                background-size: contain;
                background-repeat: no-repeat;
            }
            
        }

    }

    ol {
        li {
            list-style-type: decimal;
        }
    }

}

.wp-block-group__inner-container {
    z-index:1;
    position:relative;
   
}

.wp-block-group.background_white {
    background:$white;
}

.has-text-align-left {
    text-align:left;
}

.has-text-align-center {
    text-align:center;
}

.has-text-align-right {
    text-align:right;
}

/* ------------- Gutenberg Columns ------------------------------ */


.wp-block-columns {
    display:flex;

    @include phone {
        flex-direction: column;
    }

    .wp-block-column {
        //margin-right:50px;
        width:50%;
        padding:2vw;

        .wp-block-image {
            height:100%;

            img {
                height:100%;
                width:100%;
                object-fit: cover; 
            }
        }

        

    } 

    .wp-block-column:last-child {
        margin-right:0;
    } 

}


/* ------------- Gutenberg Hero image ----------------------------------------------------------------------------------------------------------- */

.wp-block-cover {
    z-index:1;
    position:relative;

    max-width:var(--site-width);
    margin:auto;

    min-height:60vh;
    padding:var(--vertical) calc(var(--horizontal) * 2);

    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius:10px;

    @include phone {
        border-radius:0;
    }   

    h1, h2, h3 {
        color:$white;
        text-shadow: $text-shadow;
    }

    h1 {
        width:20ch;

        @include phone{
            strong {
                color:$white;
                display:inline;
            }

            width:85%;
        }
    }

    h2 {
        width:30ch;

        @include phone{
            display:none;
        }
    }
    
} 

/* ------------- Persoon contact block ----------------------------------------------------------------------------------------------------------- */

.persoon {
    width:33vw;
    background:$white;
    padding:50px 50px;
    margin:0 30px 0 0;
    box-shadow: $box-shadow;
    border-radius:5px;
    z-index:1;
    position:relative;
    
    display:flex;

    @include phone {
        margin-top:var(--vertical);
        width:calc(100vw - var(--horizontal) * 2);
        flex-direction:column;
    }

    .image {
        margin-right:50px;

        @include phone {
            margin:auto;
        }

        img {
            width:200px;
            height:200px;
            border-radius:50%;
        }

    }

    .text {
        h1 {
            font-size:var(--medium-subtitle);
            margin:15px 0 0 0; 
            width:auto;
        }
    
        h2 {
            font-size:var(--small-subtitle);
            font-weight:600;
            color:$color;
            margin:0 0 15px 0;
        }

        @include phone {
            text-align:center;
        }

        .email {
            text-decoration:none;
            font-size:var(--large-p);
        }

        .telefoon {
            font-size:var(--large-p);
            margin:10px 0 0 0;
        }
    }

    

}


/* ------------- Form Section ----------------------------------------------------------------------------------------------------------- */


#wpforms-53, #wpforms-38 { 
    width:40vw;
    background:$bgcolor;
    padding:var(--vertical) var(--horizontal);

    @include phone {
        width:100%;
    }

    input {
        border-color:darken($bgcolor, 10%) !important;
        background-color:lighten($bgcolor, 10%) !important;
        border-radius:3px !important;
    }

}

.wpforms-submit.button {
    border-radius:5px !important;
    padding:14px 22px !important;
    text-decoration:none;
    background:$color !important;
    color:$white !important;
    border:0 !important;

    &:hover {
        background:$dark !important;
    }
    
}

.wpforms-container-full {
    margin:0 !important;
}

.wpforms-confirmation-container-full, div[submit-success] > .wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
    background: none !important; 
    border: 0 !important;

}    

/* ------------- 404 page ----------------------------------------------------------------------------------------------------------- */

.fourofour {
    margin-top:10vh;
    text-align:center;
}


/* ------------- Coming Soon Page ----------------------------------------------------------------------------------------------------------- */


.coming_soon_logo {
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;  
    justify-content: center; 

    svg {
        width:500px;
        height:400px;
    }
}


/* ------------- Cookie melding ----------------------------------------------------------------------------------------------------------- */

.pea_cook_wrapper {

    p {
        bottom:auto !important;
        font-family: $body-font !important;
        font-weight:400 !important;

        .button.pea_cook_btn {
            background:$white !important;
            border:none !important;
            font:400 12px $body-font !important; 
        }
    }

    
}

.footer_sepa {
    @include sepa-up($dark); 
}

.footer {
    background:$dark;    
    width:100vw;
    margin:0;

    .footer_inner {        
        margin:0 auto;
        padding:var(--vertical-l) var(--horizontal);
        max-width:var(--site-width);
        
        display:flex;
        justify-content:space-between;

        color:$white;

        .logo {
            margin-bottom:30px;
        }

        .text {
            p {
                font-weight:200;
            }
        }

        @include phone {
            display:block;
        }

        a {
            text-decoration:none;
            color:$white;

            &:hover {
                color:$color;
            }
        }

        .footer_links{
            text-align:left;
            width:40vw;

            ul {
                display:grid;
                grid-template-columns: 50% auto;
                grid-row: auto auto;
                grid-column-gap: 100px;
                grid-row-gap: 60px;
            
                li.menu-item {
                    a {
                        font-size:var(--large-p);
                        font-weight:600;
                        text-transform:uppercase;
                        display:block;
                        margin-bottom:20px;
                    }
                }
            
            }

            ul.sub-menu {
                all: unset;
                transition-duration:0s;
                transition-delay: 0s;
                
                

                li.menu-item {
                    margin:0;
                    
                    a {
                        font-weight: 200;
                        font-size:var(--large-p);
                        text-transform:capitalize;
                        margin-bottom:15px;
                        display:block;
                        color:$white;

                        &:hover {
                            color:$color;
                        } 
                    }
                }
                
            }

            @include phone {
                margin-top:30px;
                text-align:left;
            }
        
        }

    }    

}


/* ------------- Yoast Schema FAQ Section ----------------------------------------------------------------------------------------------------------- */



.schema-faq {

    .schema-faq-question {
        text-transform: uppercase;
        font-weight:600;
        font-size:var(--large-p);
        margin-bottom:20px;
        display:block;
    }

}