@import "variables/breakpoints";

.wp-block {
    
    @include desktop-up {
        max-width:50vw !important;
    }

}

.wp-block-group {
    padding:1vw;
    border:1px solid rgba(66,88,99,.4);
    background-color:#fafafa;
}