@import "./reset";
@import "./variables/colors";
@import "./variables/typography";
@import "./variables/breakpoints";

/* ------------- Header ----------------------------------------------------------------------------------------------------------- */

header {
    background:$colorgradient;
    width:100vw;
    padding-top:30px;
    height:200px;

    .logo {
        
        img {
            filter:brightness(0) saturate(100%) invert(100%);  
            margin:0 auto;
            display:block;
            width:150px;

        }
    }
}

.main {
    // padding:clamp(10px, 5vh, 100px) clamp(10px, 5vw, 200px);
}

/* ------------- Category Overview ----------------------------------------------------------------------------------------------------------- */


/* ------------- Category Boxes -------------- */

.categories.full {
    margin-top:-100px;

    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 0 20px;

    overflow-y: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding:0 20px 30px 20px;

    &:after {
        content:'';
        width:20px;
    }

    a {
        text-decoration: none;
    }

    &::-webkit-scrollbar-track {
        background-color: $light;
        border-radius:5px;
        margin:0 20px;        
    }

    
    &::-webkit-scrollbar {
        height: 4px;
        background-color: $light;
        
    }

    &::-webkit-scrollbar-thumb {
        background-color: $medium;
        border-radius:5px;
    }


    .category {
        min-height:350px;
        min-width:clamp(280px, 70vw, 400px);
        display:block;
        background-color:$colorgradient;
        border-radius: 20px;
        background-size: cover;
        box-shadow: $box-shadow;
        padding:30px;
        position:relative;

        scroll-snap-stop: always;
        scroll-snap-align: center;

        &:before {
            content:'';
            background:linear-gradient(172.72deg, rgba(0, 0, 0, 0.4) 4.64%, rgba(0, 0, 0, 0) 56.35%);
            top:0;
            left:0;
            width:100%;
            height:100%;
            position:absolute;
            z-index:1;
            border-radius:20px;
        }

        &:after {
            content:'';
            background:$white url('../../images/svg/ArrowRight.svg') no-repeat;
            background-position:14px 14px;
            border-radius: 100%;
            width:40px;
            height:40px;
            z-index:2;
            display:block;
            position:absolute;
            bottom:30px;
            left:30px;
        }

        &:hover:after {
            background-color:$colorgradient;
        }
  
        h1, h2 {
            color:$white;
            z-index:2;
            position:relative;
        }

    }

}

/* ------------- Category Buttons -------------- */

.categories.text {
    margin-top:50px;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 0 60px;

    overflow-y: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding:0 60px 30px 60px;

    &:after {
        content:'';
        width:30px;
    }

    a {
        text-decoration: none;
    }

    &::-webkit-scrollbar-track {
        background-color: $background;
        border-radius:5px;
        margin:0 20px;        
    }

    
    &::-webkit-scrollbar {
        height: 4px;
        background-color: $background;
        
    }

    &::-webkit-scrollbar-thumb {
        background-color: $background;
        border-radius:5px;
    }


    .category {
        display:block;
        background-color:$background;
        border-radius: 20px;

        scroll-snap-stop: always;
        scroll-snap-align: center; 

        h1 {
            font-size:var(--body);
        }

    }

} 


/* ------------- Recipe List -------------- */

.recipes {
    //padding:clamp(20px, 5vh, 100px) clamp(20px, 5vw, 200px);
    padding:30px 20px 30px 20px;
    display:flex;
    flex-wrap: wrap;

    .recipe {
        display:flex;
        margin:20px 0 20px 0;
        max-width:360px;

        .image {
            width:35%;
            min-height:120px;
            margin-right:5%;
            

            img {
                width:100%;
                height:100%;
                border-radius:5px;                
            }
            
        }

        .content {
            width:60%;
            padding:5px 0;
            display:flex;
            flex-direction: column;
            justify-content:space-between;

            a {
                text-decoration:none;
                color:$color;
            }

            h2 {
                font-weight:600;
                line-height:120%;
                margin:0;
            }

            .add_prplist {
                background:$background;
                margin-top:20px;
                text-align:left;
                font-size:var(--body-s);
                line-height:20px;
                color:$dark;

                .added {
                    display:none;
                }

                &:before {
                    content:'';
                    width:16px;
                    height:16px;
                    margin-right:3px;
                    display:inline-block;
                    background:url('../../images/svg/bookmark.svg') no-repeat;
     
                }
            }

            .add_prplist.checked {
                color:$color;

                .added {
                    display:inline;
                }

                .add {
                    display:none;
                }

                &:before {
                    background-image:url('../../images/svg/bookmark-checked.svg');
                }
            }
        }

    }

}


/* ------------- Single Recipe Pages ----------------------------------------------------------------------------------------------------------- */

.single-recipes {

    .hero {
        margin:-100px clamp(20px, 5vw, 200px) 0 clamp(20px, 5vw, 200px);
        min-height:350px;
        min-width:clamp(280px, 70vw, 400px);
        display:block;
        background-color:$colorgradient;
        border-radius: 20px;
        background-size: cover;
        box-shadow: $box-shadow;
        padding:30px;
        position:relative;

        &:before {
            content:'';
            background:linear-gradient(172.72deg, rgba(0, 0, 0, 0.4) 4.64%, rgba(0, 0, 0, 0) 56.35%);
            top:0;
            left:0;
            width:100%;
            height:100%;
            position:absolute;
            z-index:1;
            border-radius:20px;
        }

        .text {
            color:$white;
            text-shadow: $text-shadow;
            font-weight:600; 
            z-index:2;
            position:relative;
            font-size:var(--body);

            h1 {
                margin-bottom:5px;
            }
    
        }            
        
    }

}  