@import "./reset";
@import "./variables/colors";
@import "./variables/typography";
@import "./variables/breakpoints";

.hidden {
    display:none !important;
}

/* ------------- Header ----------------------------------------------------------------------------------------------------------- */

html {
    padding:4vw;
}

.header {
    display:flex;
    justify-content: space-between;

    .logo {
        mask:url(../../images/svg/logo.svg);
        -webkit-mask:url(../../images/svg/logo.svg);
        background:var(--primary-color);    
        width:25px;
        height:25px;
        display:inline-block;
        
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden; 
    }
    
    .menu {
        width:30px;
        height:30px;
        
        .menu_icon {
            mask:url(../../images/svg/menu.svg);
            -webkit-mask:url(../../images/svg/menu.svg);
            background:var(--darkest); 
            mask-size: 16px 16px;
            -webkit-mask-size: 16px 16px;   
            width:16px;
            height:16px;
            display:inline-block;
            margin-top:7px;
            margin-left:7px;
            z-index:10;            
        }

        &:hover {
            .menu_icon {
                background:var(--primary-color); 
            }
        }
        
        
    }

}


/* ------------- Index ------------------------------------------------------------------------------------------------------------- */

.tabs {
    display:flex;
    flex-wrap:nowrap;
    margin-top:5vh;

    
    .tab_menu {
        border-radius:10px 10px 0 0;
        background:var(--lightest);
        padding:10px 16px;
        text-decoration: none;
        margin-right:5px;
        font-size:1rem;
        font-weight:800;
        height:45px;
        display:inline-block;

        z-index:5;
        position:relative;

        &:hover {
            color:var(--darkest);
        }
    }

    .tab_menu.active {
        background:var(--white);
        color:var(--darkest);
        z-index:15;
    }


    .liked_icon {
        width:20px;
        height:18px;
        mask:url(../../images/svg/heart-fill.svg);
        -webkit-mask:url(../../images/svg/heart-fill.svg);
        mask-size: 20px 18px;
        -webkit-mask-size: 20px 18px;
        background:var(--primary-color);
        display:block; 
        text-indent:-100px;
        overflow:hidden;        
    }

}

.recipes.list {
    background:var(--white);
    padding:8vw 4vw;

    box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.04);
    border-radius:0 10px 10px 10px;

    z-index:10;
    position:relative;

    .recipe {
        display:flex;
        max-width:100%;
        flex-wrap: nowrap;
        margin-bottom:4vh;
        overflow:hidden;
        

        .image {            
            
            img {
                border-radius:5px;
                width:35vw;
                object-fit: cover;
                height:28vw;
            }
        }

        .add_prplist {
            position:absolute;
            width:33px;
            height:33px;
            border-radius:100%;
            margin-left:28vw;
            margin-top:21vw;
        }

        .content {
            padding:0 4vw;
            flex-grow: 1.5;
            width:55vw;

            a {
                text-decoration:none;
            }
            
            h2 {
                margin:0;
                width:100%;
                text-overflow: ellipsis;                
                white-space: nowrap;
                overflow:hidden;
            }
            
        }
    }
}


.add_prplist {

    .add {
        width:19px;
        height:18px;
        mask:url(../../images/svg/heart-border.svg);
        -webkit-mask:url(../../images/svg/heart-border.svg);
        mask-size: 19px 18px;
        -webkit-mask-size: 19px 18px;
        margin:0 0 0 1px;
        background:var(--white);
        display:block; 
        text-indent:-300px;
        overflow:hidden;
    }

    .added {
        width:18px;
        height:17px;
        mask:url(../../images/svg/heart-fill.svg);
        -webkit-mask:url(../../images/svg/heart-fill.svg);
        mask-size: 18px 17px;
        -webkit-mask-size: 18px 17px;
        margin:0 0 0 2px;
        background:var(--white);
        text-indent:-300px;
        overflow:hidden; 
        display:none; 
    }

    &:hover {
        background:var(--primary-color);
    }
    
}

.add_prplist.checked {

    .add {
        display:none;
    }

    .added {
        display:block;
    }

}

/* ------------- Recipe Page ----------------------------------------------------------------------------------------------------------- */

.single-recipes {

    .menu {
        .menu_icon {
            background:var(--white); 
        }
    }

    .hero_image {
        height:45vh;
        width:calc(100% + 8vw);
        margin-left:-4vw;
        margin-top:-8vh;
    
    }

    .logo {
        background-color: var(--white);
    }

    .main_text {
        margin-top:5vh;
    }

    .recipe_meta {
        display:flex;
        justify-content:space-between;

        .meta_title {
            display:block;
            font-size:.8rem;
            font-weight:600;
            color:var(--medium);
        }
    }

    .ingredients_list {
        list-style-type:none;

        li {
            border-bottom:1px solid var(--lighter);
            line-height:65px;


            .amount {
                width:25%;
                margin-left:10px;
                display:inline-block;
            }
        
            &:last-of-type {
                border:0;
            }
        }
        
    }

    .instruction_list {

        li {
            margin-bottom:20px;
            
            &::marker {
                color:var(--medium);
            }
        }
    }

}

/* ------------- Add recipe Page ----------------------------------------------------------------------------------------------------------- */


.add_recipe {

    h1 {
        text-align:center;
        margin-top:5vh;
    }

    input, textarea {
        min-height:50px;
        border-radius: 5px;
        border:1px solid var(--lightest);
        padding:0 10px;
    }

    .acf-basic-uploader {
        input {
            border:0;
            padding:0;
            margin-top:20px;

            &::-webkit-file-upload-button {
                visibility: hidden;
            }

            &::before {
                content: 'Add Image';
                display: inline-block;
                padding:5px 10px;
                text-decoration: none;
                color:var(--white);
                border-radius:5px;
                font-size:1rem;
                font-weight:600;
                background: var(--primary-color);
                
                outline: none;
                white-space: nowrap;
                -webkit-user-select: none;
                cursor: pointer;
            }
        }
    }

    .acf-gallery {
        border-radius: 5px;
        border:1px solid var(--lightest);
        padding:0 10px;
    }

    .acf-table {
        border-radius: 5px;
        border:1px solid var(--lightest);
        

        .acf-field {
            padding:5px;
        }

        .acf-fields>.acf-field {
            border:0;
        }

        
    }

    .acf-taxonomy-field .categorychecklist-holder {
        border:0;
    }

    .select2-selection--multiple, .select2-container.-acf .select2-selection {
        min-height:50px;
        border-radius: 5px;
        border:1px solid var(--lightest);
        padding:0 10px;
    }

    .select2-search__field {
        line-height:50px !important;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: var(--primary-color) !important;
        color: var(--white);
    }

    .select2-dropdown {
        background-color: var(--white) !important;
        border: 1px solid var(--lightest) !important;
        border-radius: 5px;
    }

    .acf-repeater .acf-row-handle.remove {
        background: var(--white);
        border-left:0;
    }

    .acf-gallery-toolbar {
        border-top:0;
    }

    label {
        //color:var(--dark);
    }

    .acf-input-append {
        position:absolute;
        z-index:10;
        border:0;
        background:0;
        right:10px;
        margin-top:12px;
        color:var(--medium);
        font-weight: 800;
    }

    .acf-button {
        padding:5px 10px;
        text-decoration: none;
        color:var(--white);
        border-radius:5px;
        font-size:1rem;
    }

    .acf-button.button-large {
        font-size:1.2rem;
        width:100%;
    }

    .acf-hl {
        display:flex;
        flex-wrap: nowrap;
    }

    .acf-fr {
        display:none;
    }

    .acf-field {
        padding:20px 0;
    }

    .acf-repeater .acf-row-handle.order+td {
        border:0;
    }

}



/* ------------- Footer ----------------------------------------------------------------------------------------------------------- */
