@import "./reset";
@import "./variables/colors";
@import "./variables/typography";
@import "./variables/breakpoints";

.hidden {
    display:none !important;
}

/* ------------- Header ----------------------------------------------------------------------------------------------------------- */

html {
    padding:4vw;
}

.logo {
    mask:url(../../images/svg/logo.svg);
    -webkit-mask:url(../../images/svg/logo.svg);
    background:var(--primary-color);    
    width:25px;
    height:25px;
    display:inline-block;
    
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; 
}




/* ------------- Index ------------------------------------------------------------------------------------------------------------- */

.recipes.tabs {
    display:block;
    margin-top:5vh;
    
    .tab_menu {
        border-radius:10px 10px 0 0;
        background:var(--lightest);
        padding:10px 4.5vw;
        text-decoration: none;
        margin-right:5px;
        font-size:1rem;
        font-weight:800;
        height:45px;
        display:inline-block;

        z-index:5;
        position:relative;

    }

    .tab_menu.active {
        background:var(--white);
        color:var(--darkest);
        z-index:15;
    }


    .liked_icon {
        width:20px;
        height:18px;
        mask:url(../../images/svg/heart-fill.svg);
        -webkit-mask:url(../../images/svg/heart-fill.svg);
        mask-size: 20px 18px;
        -webkit-mask-size: 20px 18px;
        background:var(--primary-color);
        display:block; 
        text-indent:-100px;
        overflow:hidden;        
    }

}

.recipes.list {
    background:var(--white);
    padding:8vw 4vw;

    box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.04);
    border-radius:0 10px 10px 10px;

    z-index:10;
    position:relative;

    .recipe {
        display:flex;
        max-width:100%;
        flex-wrap: nowrap;
        margin-bottom:4vh;
        overflow:hidden;
        

        .image {            
            
            img {
                border-radius:5px;
                width:35vw;
                object-fit: cover;
                height:28vw;
            }
        }

        .add_prplist {
            position:absolute;
            width:33px;
            height:33px;
            border-radius:100%;
            margin-left:28vw;
            margin-top:21vw;
        }

        .content {
            padding:0 4vw;
            flex-grow: 1.5;

            a {
                text-decoration:none;
            }
            
            h2 {
                margin:0;
                height:30px;
                width:45vw;
                text-overflow: ellipsis;                
                white-space: nowrap;
                overflow:hidden;
            }
            
        }
    }
}


.add_prplist {

    .add {
        width:19px;
        height:18px;
        mask:url(../../images/svg/heart-border.svg);
        -webkit-mask:url(../../images/svg/heart-border.svg);
        mask-size: 19px 18px;
        -webkit-mask-size: 19px 18px;
        margin:0 0 0 1px;
        background:var(--white);
        display:block; 
        text-indent:-300px;
        overflow:hidden;
    }

    .added {
        width:18px;
        height:17px;
        mask:url(../../images/svg/heart-fill.svg);
        -webkit-mask:url(../../images/svg/heart-fill.svg);
        mask-size: 18px 17px;
        -webkit-mask-size: 18px 17px;
        margin:0 0 0 2px;
        background:var(--white);
        text-indent:-300px;
        overflow:hidden; 
        display:none; 
    }

    &:hover {
        background:var(--primary-color);
    }
    
}

.add_prplist.checked {

    .add {
        display:none;
    }

    .added {
        display:block;
    }

}

/* ------------- Recipe Page ----------------------------------------------------------------------------------------------------------- */

.single-recipes {

    .hero_image {
        height:45vh;
        width:calc(100% + 8vw);
        margin-left:-4vw;
        margin-top:-8vh;
    
    }

    .logo {
        background-color: var(--white);
    }

    .main_text {
        margin-top:5vh;
    }

    .recipe_meta {
        display:flex;
        justify-content:space-between;

        .meta_title {
            display:block;
            font-size:.8rem;
            font-weight:600;
            color:var(--medium);
        }
    }

}




/* ------------- Footer ----------------------------------------------------------------------------------------------------------- */
